/* Get rid of default styling */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

/*
#date, #time, section, footer {
	display: block;
}
*/

body {
	margin: auto;
	width: 400px;
	height: 300px;
	
	border: 2px solid grey;
}

#logo {
	margin: 10px;
	float: left;
	border-radius: 10px;
}

/*
#reminder {
	float: left;
	clear: right;
	
	border: 2px solid grey;
}
*/

#reminder textarea {
	float: left;
	margin: 8px 0px 10px 10px;
	width: 280px;
	height: 80px;
	
	border: 2px solid grey;
}

#date p{
	float: left;
	width: 50%;
}

#date li {
	float: left;
}

#date li > input {
	width: 30px;
}

#set {
	float: right;
	width: 80px;
	height: 40px;
}

#time p{
	float: left;
	width: 50%;
}

#time li {
	float: left;
}

#time li > input {
	width: 30px;
}


#footer {
	clear: both;
	width: 100%;
	height: 50px;
	
	border: 2px solid red;
}
*/