/* Get rid of default styling */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clear {
    clear:both;
    line-height:0;
}

body {
	margin: 0px auto;
	width: 400px;
	height: 235px;
}

header {
	width: auto;
	height: 50px;
	background: #233140 ;
}

header h1{
	float: left;
	margin: 10px 5px 5px 5px;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
	color: white;
}

#logo {
	float: left;
	padding: 5px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

textarea {
	white-space: pre-wrap;
	margin: 10px auto;
	display: block;
	width: 375px;
	height: 80px;
}


#inputs {
	margin: 5px 10px;
}

#inputs p {
	float: left;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	
	margin-top: 13px;
	width: 25%;
}

#datetime {
	float: left;
	font-size: 11px;
	
	margin-top: 10px;
	width: 50%;
}

#set {
	font-size: 16px;
	padding: 5px;
	
	background: none;
	background-color: #F0F0F0;
	border: 1px solid #101010;
	border-radius: 5px;
	
	float: right;
	width: 80px;
	height: 40px;
}

#set:hover {
	background-color: #C8C8C8 ;
	cursor: pointer;
}


footer {
	margin: auto;
	clear: left;
	padding: 10px auto;
	background: #233140;
	
	width: 100%;
	height: 40px;
}

footer a {
	float: left;
	padding: 5px;
	margin: 5px 9px;
	
	font-size: 16px;
	
	color: black;
	background-color: #F0F0F0;
	border: 1px solid #101010;
	border-radius: 5px;
	
}

footer a:hover {
	background-color: #C8C8C8 ;
}


footer button {
	float: right;
	padding: 5px;
	margin: 5px 10px;
	
	font-size: 16px;
	
	background: none;
	background-color: #F0F0F0;
	border: 1px solid #101010;
	border-radius: 5px;
	
	width: 80px;
}

footer button:hover {
	background-color: #C8C8C8 ;
	cursor: pointer;
}