/* Get rid of default styling */

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

section {
	display: block;
}

body {
	margin: auto;
	width: 400px;
	height: 300px;
	
	border: 2px solid grey;
}

#logo {
	margin: 10px;
	float: left;
	border-radius: 10px;
}

#reminder {
	float: left:
	clear: right;
}

#reminder > textarea {
	margin: 10px 0px 10px 10px;
	width: 280px;
	height: 78px;
	
}

#date {
	
	
}

#footer {
	width: 100%;
	height: 50px;
	
}